/addons
/blueprints
/config/**/*client*
/defaultconfigs/**/*client*
/crash-reports
/backups
/downloads
/modernfix
/mods
/logs
/local
/saves
/journeymap
/screenshots
/resourcepacks
/patchouli_books
/voicechat_recordings
/shaderpacks

/.curseclient
/minecraftinstance.json
/options.txt
/patchouli_data.json
/rhino.local.properties
/servers.dat
/servers.dat_old
/user-prefs.json
/usercache.json
/usernamecache.json
/icon.png

/hs_err_pid*.log